flask==3.0.2
flask-cors==4.0.0
requests
langchain>=0.1.12
langchain-community>=0.0.27
langchain-core>=0.1.32
pypdf==4.1.0
sentence-transformers==2.5.1
faiss-cpu==1.7.4
typing-extensions>=4.5.0
numpy>=1.24.3
torch>=2.0.1
tqdm>=4.66.1 